@import "src/common/style/variate";

.protocolList {
  padding-top: 30px;
  .listContent {
    //padding-top: 30px;
    box-sizing: border-box;
    height: 660px;
    background: gray;
    margin: 0 30px;
    border-radius: 12px;
    overflow: hidden;
    .lPart {
      display: inline-block;
      width: 858px;
      height: 660px;
      background: $blockBg;
      vertical-align: top;
      .up {
        box-sizing: border-box;
        padding: 30px;
        background-color: #2B2A30;
        //background-color: gray;
        height: 560px;
        overflow: scroll;
        .topInfo {
          height: 40px;
          margin-bottom: 30px;
          .l {
            //height: 40px;
            //line-height: 40px;
            float: left;
            img {
              display: inline-block;
              vertical-align: top;
              width: 40px;
              height: 40px;
              margin-right: 23px;
            }
            h3 {
              display: inline-block;
              vertical-align: top;
              border-bottom: 1px solid #656569;
              padding-bottom: 7px;
              margin-top: 8px;
              color: #fff;
              font-size: 14px;
              font-weight: 500;
            }
          }
          .r {
            float: right;
            width: 200px;
            height: 30px;
            line-height: 30px;
            border-radius: 16px;
            background: #1D1C25;
            img {
              width: 15px;
              height: 15px;
              display: inline-block;
              vertical-align: top;
              margin: 8px 4px 0 8px;
            }
            h4 {
              color: #6B6B6B;
              font-size: 12px;
              display: inline-block;
              vertical-align: top;
            }
          }
        }
        .protocolBlocks {
          &>div {
            display: flex;
            flex-wrap: wrap;
            //justify-content: space-between;
          }
          li {
            display: inline-block;
            width: 250px;
            height: 115px;
            background: #1D1C25;
            border-radius: 12px;
            box-sizing: border-box;
            padding: 10px 15px;
            margin-bottom: 20px;
            &:not(:nth-child(3n)) {
              margin-right: 24px;
            }
            &.itemEmpty {
              width: 250px;
              height: 0;
              border: 0 none;
              padding: 0;
            }
            &.chosen-class {
              background-color: #413F48;
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            }
            .upInfo {
              height: 26px;
              border-bottom: 1px solid #2B2A30;
              .sort {
                text-align: center;
                width: 30px;
                height: 16px;
                background-color: #17161D;
                border-radius: 8px;
                color: #156EFF;
                font-weight: bold;
                font-size: 14px;
                float: left;
              }
              .close {
                float: right;
                width: 16px;
                height: 16px;
              }
            }
            .content {
              h4 {
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                padding: 10px 0 13px;
              }
              .timer {
                background: #17161D;
                height: 24px;
                line-height: 24px;
                border-radius: 4px;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #56565D;
              }
            }
          }
        }
      }
      .down {
        background: #26252B;
        height: 100px;
        line-height: 100px;
        text-align: center;
        .lBtn {
          @extend .defaultBtn;
          margin: 0 13px;
        }
        .rBtn {
          @extend .emptyBtn;
          margin: 0 13px;
        }
      }
    }
    .rPart {
      display: inline-block;
      width: 362px;
      height: 660px;
      background:  #000;
      vertical-align: top;
      overflow: scroll;
      ul {
        li {
          box-sizing: border-box;
          //width: 362px;
          height: 73px;
          padding: 26px 20px;
          //line-height: 73px;
          .name {
            float: left;
            margin-top: 2px;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
          }
          .time {
            float: right;
            margin-top: 2px;
            margin-right: 20px;
            color: #929292;
            font-size: 16px;
            //font-family: din;
          }
          .plus {
            float: right;
            width: 20px;
            height: 20px;
          }
          &:nth-child(odd) {
            background: #17161D;
          }
          &:nth-child(even) {
            background: #1D1C25;
          }
        }
      }
    }
  }
}
