.ScanList {
  width: 1220px;
  height: 659px;
  background: #2B2A30;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}