.dcmDetail {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.7);
  &.hide {
    display: none;
  }
  .detail {
    border: 1px solid #ccc;
    width: 730px;
    height: 408px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -365px;
    margin-top: -204px;
    overflow: hidden;
    #dwv {
      width: 408px;
      height: 408px;
      margin: 0 auto;
      .layerContainer {
        margin: 0 auto;
      }
    }
  }
}