@import "src/common/style/variate";
.tip {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  h1 {
    position: absolute;
    top: 50%;
    margin-top: -90px;
    left: 0;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
  }
  button {
    @extend .defaultBtn;
    position: absolute;
    top: 50%;
    margin-top: 130px;
    left: 50%;
    margin-left: -92px;
  }
  img {
    width: 121px;
    height: 393px;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -300px;
  }
}